<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.eclipse.jetty.util" level="warn"/>
  <logger name="org.eclipse.jetty.webapp" level="warn"/>
  <logger name="org.eclipse.jetty.server.handler" level="warn"/>
  <logger name="com.mchange.v2.c3p0" level="info"/>

  <root level="info">
    <!--<appender-ref ref="file"/>-->
    <appender-ref ref="stdout"/>
  </root>
</configuration>